RewriteEngine On

RewriteRule ^assets/(.*)$ public/assets/$1 [L]
RewriteRule ^markdown/(.*)$ public/markdown/$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.php [QSA,L]
